@model IEnumerable<ParkingApp.Models.Reservation>

@{
    ViewData["Title"] = "ViewReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/new.css">
<h1 class="headers" style="">Reservations</h1>
<body class="bodyContractorCreateViewReservations">
</body>

<table class="table" style="border-bottom-color: black; border: 1px solid black; background-color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBooked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBooked.Date)
            </td>
            <td>
                <a asp-action="ViewCustomerDetails" asp-route-id="@item.BookedCustomerID">Customer Details</a> |
                <a asp-action="CancelReservation" asp-route-id="@item.Id">Cancel Reservation</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
