@model ParkingApp.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin: 0 auto; text-align: center; justify-content: space-around; width: 500px; border: 1px solid black; border-bottom-color: transparent; padding: 20px; margin: 0 auto; background-color: white; box-shadow: 5px 5px 5px black;">
    Details
</h1>
<link rel="stylesheet" href="/css/new.css">

|
<body class="bodyCustomerIndex">
    <link rel="stylesheet" href="/css/new.css">
    
    <div id="container">
        <p class="box">
            <a asp-action="Reservations">Reservations</a>
        </p>

        <form>
            <p class="box">
                @Html.DisplayNameFor(model => model.FirstName)
                @Html.DisplayFor(model => model.FirstName)
            </p>
            <p class="box">
                @Html.DisplayNameFor(model => model.LastName)
                @Html.DisplayFor(model => model.LastName)
            </p>
            <p class="box">
                @Html.DisplayNameFor(model => model.EmailAddress)
                @Html.DisplayFor(model => model.EmailAddress)
            </p>
            <p class="box">
                @Html.DisplayNameFor(model => model.PhoneNumber)
                @Html.DisplayFor(model => model.PhoneNumber)
            </p>
            <p class="box">
                @Html.DisplayNameFor(model => model.LicenseIDNumber)
                @Html.DisplayFor(model => model.LicenseIDNumber)
            </p>

        </form>
    </div>
</body>
<div style="margin: 0 auto; ">
    <a style="margin: 0 auto;" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a style="margin: 0 auto;" class="btn btn-warning" asp-action="Index">Back to main menu</a>
</div>
