@model ParkingApp.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    Please Choose Your Selection
    <link rel="stylesheet" href="/css/new.css">
</head>
<body class="bodyCustomerCreate">
    <div class="content-wrapper">
        <p>
            @Html.ActionLink("Your Details", "Details", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Edit Your Information", "Edit", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Delete your profile", "Delete", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Add a vehicle", "AddVehicle", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Your vehicles", "ViewVehicles", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Book a Spot", "AllSpots", new { id = Model.Id })
        </p>
        <p>
            @Html.ActionLink("Check Your Balance", "PayBill", new { id = Model.Id })
        </p>

   
    </div>
</body>

