@model IEnumerable<ParkingApp.Models.Car>

@{
    ViewData["Title"] = "ViewVehicles";
}

<h1 style="margin: 0 auto; justify-content: space-around; width: 500px; border: 1px solid black; border-bottom-color: transparent; padding: 20px; margin: 0 auto; background-color: white; box-shadow: 5px 5px 5px black;">Vehicles</h1>
<link rel="stylesheet" href="/css/new.css">
<body class="bodyCustomerViewVehicles">
</body>

<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
