@model IEnumerable<ParkingApp.Models.Car>

@{
    ViewData["Title"] = "ViewVehicles";
}

<h4 style="margin: 0 auto; width: 300px; border: 1px solid black; padding: 20px; background-color: white; box-shadow: 5px 5px 5px black;">Vehicles</h4>
<link rel="stylesheet" href="/css/new.css">
<body class="bodyCustomerViewVehicles">
</body>

<table class="table table-hover" style="margin-top: auto; margin: 0 auto; justify-content: space-around; ">
    <thead>
        <tr class="table-light">
            
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            
            <th scope="col">
               
            </th>
            <th scope="col">
              
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
