@model IEnumerable<ParkingApp.Models.Car>

@{
    ViewData["Title"] = "ViewVehicles";
<<<<<<< HEAD
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
>>>>>>> c3b63533b1b62693ab3ee44d6d6252da61aefd38
}

<h1>ViewVehicles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
=======
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
>>>>>>> c3b63533b1b62693ab3ee44d6d6252da61aefd38
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
<<<<<<< HEAD
=======
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
>>>>>>> c3b63533b1b62693ab3ee44d6d6252da61aefd38
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
<<<<<<< HEAD
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
=======
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
>>>>>>> c3b63533b1b62693ab3ee44d6d6252da61aefd38
            </td>
        </tr>
}
    </tbody>
</table>
